In [1]:
import pandas as pd

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [2]:
## Diberikan List merk

Brand = ['Honda','Toyota','Ford','Audi','Suzuki', 'Yamaha']
Brand

['Honda', 'Toyota', 'Ford', 'Audi', 'Suzuki', 'Yamaha']

In [3]:
df_Brand = df.Brand.tolist()
df_Brand

['Honda Civic', 'Toyota Corolla', 'Ford Focus', 'Audi A4']

In [4]:
from fuzzywuzzy import process

merk = []
similirity = []
for x in df_Brand:
    highest = process.extractOne(x,Brand)
    merk.append(highest[0])
    similirity.append(highest[1])
    print(x, highest)

Honda Civic ('Honda', 90)
Toyota Corolla ('Toyota', 90)
Ford Focus ('Ford', 90)
Audi A4 ('Audi', 90)

c:\users\bmr user\appdata\local\programs\python\python38-32\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [5]:
df['merk'] = merk
df['similirity'] = similirity

In [6]:
df

            Brand  Price    merk  similirity
0     Honda Civic  22000   Honda          90
1  Toyota Corolla  25000  Toyota          90
2      Ford Focus  27000    Ford          90
3         Audi A4  35000    Audi          90